/*---------------------------------
            Login page
-----------------------------------*/
/*backgrounf img*/
#login-bg-img {
    position: fixed;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url(../Images/pre-login/banner-with-overlay.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

/*logo and form*/

#sign-up-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}
#top-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

#login-form {
    width: 580px;
    margin: 5px;
    background-color: #fff;
    border-radius: 5px;
    padding-bottom: 5px;
}

#login-form h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: 'open Sans';
    font-size: 34px;
    font-weight: semibold(600);
    line-height: 38px;
    color: #6255a5;
    text-align: center;
    padding-top: 40px;
}

#login-form p {
    font-family: 'open Sans';
    font-size: 15px;
    font-weight: 400;
    line-height: 10px;
    color: #333333;
    margin-top: 5px;
    text-align: center;
}

.heading {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    text-align: left;
    padding-bottom: 5px;
}

.forgot-password {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 20px;
    color: #6255a5;
    margin-left: 284px;
    padding-bottom: 10px;
}

#email,
#login-password {
    margin: 0;
    padding: 10px;
    font-family: 'open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 480px;
    border: 1px solid #6255a5;
    height: 50px;
}
.inputContainer span {
    float: right;
    margin-left: -25px;
    margin-top: -32px;
    padding-right: 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
#check-box {
    border: 1px solid #d1d1d1;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.field-icon {
    float: right;
    font-size: 15px;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    margin-right: 5px;
    z-index: 2;
}

#remember-me {
    margin: 0;
    padding: 0;
    font-family: 'open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 400px;

}

.login-btn {
    margin: 0;
    padding: 0;
    background: #6255a5;
    color: #fff;
    width: 480px;
    height: 50px;
    border-radius: 3PX;
    border: none;
    font-style: 'Open Sans';
    font-size: 18px;
    line-height: 22px;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
#signup-successfully p{
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: #32a852;
    text-align: center;
}
.form-group {
    margin: 0;
    padding: 0;
    width: 480px;
    margin-left: 50px;
}
#error-password{
    color: #ff3636;
    font-size: 10px;
}
/*---------------------------------
            home page(navigation for main page)
-----------------------------------*/
.home_navbar .header-wrapper .navigation-wrapper .main-nav .menu-navigation .header-tab {
    font-style: 'Open Sans';
    font-size: 16px;
    display: inline-block;
    line-height: 20px;
    font-weight: semibold(600);
    color: #fff;
    text-decoration: none;
}
.home_navbar .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li a:hover{
    color: #6255a5;
    text-decoration: underline;
    text-decoration-color:#6255a5; 
}
.sticky-nav .navbar{
    background-color: #fff !important;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0,1) !important;   
}
.sticky-nav .navbar .header-item a{
    margin-right: 20px;
    font-family: Open sans;
    color: #333333;
}
.sticky-nav .navbar .header-item a:hover{
    color: #6255a5;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
/*---------------------------------
            user profile header(navigation)
-----------------------------------*/
.wrapper {
    background: #fff;
}

.site-header {
    padding: 0px 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.sticky-header .site-header {
    box-shadow: 0 0 3px rgba(0, 0, 0, .11);
    transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    padding: 5px 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, .11);
    background: #fff;
}

.site-header .header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0 40px;
    transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
}

.site-header .header-wrapper .logo-wrapper a {
    text-decoration: none;
    font-size: 50px;
}

.site-header .header-wrapper .logo-wrapper {
    position: relative;
    z-index: 9;
}

.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation {
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
}
.menu-navigation li .active a{
    color: #6255a5;
    
}

.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li a {
    font-style: 'Open Sans';
    font-size: 16px;
    display: inline-block;
    line-height: 20px;
    font-weight: semibold(600);
    color: #333333;
    text-decoration: none;
}
.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li a:hover{
    color: #6255a5;
    text-decoration: underline;
    text-decoration-color:#6255a5; 
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-img {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
}

.btn-logout {
    margin: 0;
    padding: 0;
    background: #6255a5;
    color: #fff;
    width: 89px;
    height: 30px;
    border-radius: 3px;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 22px;
    margin-top: 16px;
}

.user-profile-img {
    position: relative;
    margin-top: 75px;
    max-width: 100%;
    width: 100%;
    height: 250px;
    background: url(../Images/User-Profile/banner-with-overlay.jpg) no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#user-profile-heading h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-style:Open Sans;
    font-size: 48px;
    font-weight: 600;
    line-height: 52px;
    color: #ffffff;
}

#basic-details-head {
    font-family: 'Open Sans';
    font-size: 34px;
    font-weight: semibold(600);
    line-height: 38px;
    color: #6255a5;
    margin-left: 40px;
}

.profile-details-form {
    margin: 0;
    padding: 0;
    width: 550px;
    margin-right: 20px;
    margin-right: 20px;
}

.details-input {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    border: 1px solid #d1d1d1;
    height: 50px;
    border-radius: 3px;
}

.details-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    margin-right: 15px;
    z-index: 2;
}

.btn-submit {
    background: #6255a5;
    width: 150px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 60px;
    border-radius: 3px;
    color: #fff;
    font-style: 'Open Sans';
    font-size: 18px;
    line-height: 22px;
}
/*---------------------------------
            Email-verification
-----------------------------------*/

#email-verification{
    width: 600px;
    margin-top: 30%;
    margin-left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    padding: 30px;
}
#email-verification h3 {
    font-family: 'Open Sans';
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    color: #6255a5;
    margin-top: 50px;
    margin-left: 10px;
}
#email-verification h5{
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    margin-left: 12px;
    margin-top: 30px;
    margin-bottom: 20px;
}
#email-verification p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#333333;
    margin-left: 12px;    
}

/*Social icons*/
ul.social-list {
    padding: 0;
    text-align-last: right;

}

ul.social-list li {
    display: inline;
    padding: 0;
}

ul.social-list li a {
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    color: #fff;
    background: #6255a5;
    border-radius: 50%;
    margin-left: 10px;
}
/*home page*/
/* =========================================
                Home page
============================================ */
.home{
    height: 620px;
    width: 100%;
}

.home_img{
    background-image: url(../images/home/banner-with-overlay.jpg);
    height: 620px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home-text {
    position: absolute;
    top: 10%;
    height: 560px;
    width: 70%;
}


.vertical-center {
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.vertical-center h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 54px;
    color: #ffffff;
    margin: 0 0 20px 0;
}

.vertical-center p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
}
#home-page{
    margin-top: 60px;
}
/*work place*/
.work{
    background-color: #f9f9f9;
    padding-top: 60px;
    padding-bottom: 60px;
}
.work_heading{
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    text-align: center;
    margin-bottom: 60px;
}
.work .logo{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 140px;
    text-align: center;
    padding-top: 35px;
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.08);
    border-radius: 50%;
}
.work .sub_heading{
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.work .work_text{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
    text-align: center;
}
.work .work_btn{
    text-align: center;
    margin-top: 20px;
}
.work .work_btn button{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background: #6255a5;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.work .work_btn button:hover{
    color: #6255a5;
    background: #fff;
}
.work .work_btn #btn1{
    width: 172px;
    height: 30px;
}
.work .work_btn #btn2{
    width: 150px;
    height: 30px;
}

#about-marketplace-heading{
    margin: auto;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 34px;
    font-weight: Semibold(600);
    line-height: 38;
    color: #6255a5;
    margin-bottom: 30px;
   
}

#about-details {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: Regular(400);
    line-height: 22px;
    color: #333333;
}

#about-details p {
    margin-bottom: 50px;
}
/*Customer review*/
.customer-review {
    padding: 40px 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 555px;
    height: 300px;
    border-radius: 3px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.08);
    
}
.customer-detail{
    width: 100px;
    height: 100px;
}
.customer-name {
    display: inline-block;
}
.customer-name h4{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: Semibold(600);
    line-height: 36px;
    color: #6255a5;
    margin-left: 20px;
    
}
.customer-name h5 {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 20px;
    color: #333333;
}
.customer-review p {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: Italic(400);
    line-height: 28px;
    color: #333333;   
}

/*---------------------------------
            Search and filter
-----------------------------------*/
#search-heading h2{
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    /*margin-left: 130px;*/
    margin-top: 60px;
}
#bg-search {
    height: 181px;
    background: #f9f9f9;
    margin: auto;
    padding: 30px;  
}
#input-search {
    border: 1px solid #d1d1d1;
    width: 1077px;
    height: 50px;
    border-radius: 3px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: Regular(400);
    line-height: 20px;
    color: #8a8a8a;
    margin-bottom: 20px;
    padding-left: 40px;
}

#search-icon{
    float: left;
    margin-left: 18px;
    margin-top: -53px;
    position: relative;
    z-index: 2; 
}

.input-type{
    border: 1px solid #d1d1d1;
    width: 155px;
    height: 50px;
    border-radius: 3px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: Regular(400);
    line-height: 20px;
    color: #8a8a8a;  
    
}
.down-arrow{
   float: right;
    margin-right: 10px;
    margin-top: -30px;
    position: relative;
    z-index: 2; 
}
.search-note-img{
    width: 380px;
}
.notes-details{
    padding: 10px;
    width: 380px;
    border: 1px solid #d1d1d1;
    height: 300px;
    margin-bottom: 30px;
}
.notes-title {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: Semibold(600);
    line-height: 26px;
    color: #6255a5;
}
.notes-details img {
    margin: 0;
    padding: 0;
    height: 20px;
    margin-bottom: 9px;
}
.notes-details h4{
    display: inline-block;
    margin-left:20px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: Regular(400);
    line-height: 20px;
    color: #333333;
}
.notes-details span{
    font-size: 20px;
    height: 20px;
    margin-right: 2px;
}

.page-item {
    width: 34px;
    height: 34px;
    color: #6255a5;
}

.footer {
    margin: 0;
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
}
/* =========================================
                member details
============================================ */
.member_details {
    margin-top: -150px;
    margin-bottom: -220px;
}
.member_details .member_heading{
    padding: 0;
    margin-top: 0px;
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}
   .member_details .member_content{
    padding-left: 0;
    padding-right: 0;
}
.member_details .member_content .member_img{
    padding: 0;
    float: left;
}
.member_details .member_content .member_left{
    float: left;
}
.member_details .member_content .member_right{
    float: right;
    padding: 0;
    margin-right: 60px;
}
.center_line{
    margin-left: 20px;
    width: 5px;
    float: left;
    padding: 0;
    border-left: 1px solid #d1d1d1;
    height: 150px;
}
.member_info{
    padding-left: 30px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
}
.member_info_dark{
    padding-left: 10px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #6255a5;
}
/*---------------------------------
            dashboard
-----------------------------------*/
.dashboard_top {
    margin-top: 20px;
}

.dashboard_top .dashboard-heading {
    padding: 0;
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}

.dashboard_top .search {
    text-align: right;
    padding: 0;
}

.dashboard_top .search button {
    background: #6255a5;
    width: 150px;
    height: 40px;
    border: 1px solid #6255a5;
    border-radius: 3px;
    color: #fff;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

.dashboard_top .search button:hover {
    color: #6255a5;
    background: #fff;
}
.search button:hover {
    color: #6255a5;
    background: #fff;
}
.btn-submit:hover {
    color: #6255a5;
    background: #fff;
}

.dashboard_top .boxes {
    padding: 0;
    margin-top: 20px;
}

.dashboard_top .boxes .heading {
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    color: #6255a5;
}

.dashboard_top .boxes .sub_heading {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}

.dashboard_top .earning_box {
    height: 120px;
    padding: 0;
    border: 1px solid #d1d1d1;
}

.dashboard_top .earning_box img {
    padding-top: 25px;
}

.dashboard_top .sold_box {
    padding-top: 25px !important;
    height: 120px;
    padding: 0;
    border: 1px solid #d1d1d1;
}

.dashboard_top .sold_box .sold {
    float: left;
    text-align: center;
    padding: 0;
}

.dashboard_top .sold_box .myearning {
    padding: 0;
    text-align: center;
}

.dashboard_top .download_box {
    text-align: center;
    height: 120px;
    padding: 0;
    padding-top: 25px;
    border: 1px solid #d1d1d1;
}

.dashboard_top .reject_box {
    text-align: center;
    height: 120px;
    padding: 0;
    padding-top: 25px;
    border: 1px solid #d1d1d1;
}

.dashboard_top .request_box {
    text-align: center;
    height: 120px;
    padding: 0;
    padding-top: 25px;
    border: 1px solid #d1d1d1;
}
/*---------------------------------
            Note-details
-----------------------------------*/
.details-page {
    margin-top: 40px;
}
#note-img {
    float: left;
    height: 300px;
    width: 240px;
    margin-top: 20px;
    margin-right: 40px;
    display: inline-block;
}

.note-intro h3 {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    line-height: 38px;
    font-size: 30px;
    font-weight: Semibold(600);
    color: #6255a5;
    margin-top: 20px;
}
.note-intro h4 {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: Regular(400);
    line-height: 26px;
    margin-bottom: 20px;
    color: #333333;
}
.note-intro p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: Regular(400);
    line-height: 24px;
    color:#333333;
    margin-bottom: 30px;
}

.note-intro button{
    color: #fff;
    background: #6255a5;
    width: 204px;
    height: 50px;
    border-radius: 3px;
    font-style: 'Open Sans';
    font-size: 18px;
    line-height: 22px;
}
.note-details h5{
    margin: 0;
    padding: 0;
    float: left;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: Regular(400);
    line-height: 36px;
    color: #333333;
    margin-left: 50px;
}
.red_text {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #df3434;
    margin-left: 50px;
}

.note-details h5 img {
    margin: 0;
    padding: 0;
    height: 20px;
    margin-bottom: 9px;
    color: #6255a5;
}
.note-details h5:nth-child(2){
    margin: 0;
    padding: 0;
    float: right;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: Semibold(600);
    line-height: 36px;
    color: #6255a5;
}
/*notes-preview*/
/*
   general styles
*/
.center-block-horiz {
   margin-left: auto !important;
   margin-right: auto !important;
 }
.set-margin-cicis-menu-to-go {
  margin: 10px;
}
.set-border-cicis-menu-to-go {
   border: 1px solid #d1d1d1;
}
set-box-shadow-cicis-menu-to-go {
  -webkit-box-shadow: 4px 4px 14px #4f4f4f;
     -moz-box-shadow: 4px 4px 14px #4f4f4f;
          box-shadow: 4px 4px 14px #4f4f4f;
}
  
/*
** Style the iframe
** =========================
*/
/*
    css commmon to all iframes
*/
.responsive-wrapper {
  position: relative;
  height: 0;    /* gets height from padding-bottom */
  overflow: hidden;
  /* put following styles (necessary for overflow and 
     scrolling handling) inline in .embed-responsive-element-wrapper around iframe because not stable in CSS
    -webkit-overflow-scrolling: touch; 
                      overflow: auto; */
}
.responsive-wrapper img,
.responsive-wrapper object,
.responsive-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   
  border-style: none;
  padding: 0;
  margin: 0;
}

/*
    css particular to this iframe
*/

#Iframe-Cicis-Menu-To-Go {
  max-width: 600px;
  max-height: 450px;
  overflow: hidden;
}
/*
   padding-bottom = h/w as %
*/
.responsive-wrapper-padding-bottom-90pct {
  padding-bottom: 90%;
}

/*Customer review*/
.review{
    border: 1px solid #d1d1d1;
    height: 450px;
    border-radius: 3px;
    padding: 30px;  
}
#customer-img{
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}
.review-person{
    display: inline-block;
    margin-left: 20px;
    
}
.review-person h4{
    border-radius: 3px;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.review-person img:nth-child(3),.review-person img:nth-child(4),.review-person img:nth-child(5),.review-person img:nth-child(6),.review-person img:nth-child(7),.review-person img:nth-child(8){
    margin: 0;
    padding: 0;
    height: 20px;
    margin-bottom: 9px;
    color: #6255a5;
}
.review p{
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: Regular(400);
    line-height: 24px;
    color: #333333;
    margin: 0;
    padding: 0;
    margin-left: 70px;
    margin-top: -20px;   
}


/*Faq page*/
.q {
    margin-top: 15px;
}

.accordion-toggle:after {
    font-family: 'FontAwesome';
    font-size: 16px;
    font-weight: 0;
    content: "\f068";
    float: right;
    color: #b1b1b1;
}

.collapsed .accordion-toggle:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
}

.q .collapsed .faq-qstn {
    height: 60px;
    background-color: #f1f1f1;
    border: none;
}

.q .faq-qstn {
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    height: 60px;
    margin: 0;
    padding: 20px;
    border: 1px solid #d1d1d1;
    border-bottom: none;
    background-color: #fff;
}

.faq-ans {
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 20px;
    padding-right: 40px;
    border: 1px solid #d1d1d1;
    border-top: none;
    padding-bottom: 15px;
    text-align: justify;
}

#marketplace-notes-details {
    border: 1px solid #d1d1d1;
    padding: 20px;
    
}


#search-heading p {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 38px;
    color: #333333;
}

.comment-section {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    border: 1px solid #d1d1d1;
    height: 260px;
    border-radius: 3px;   
}

/*Search icon and input css*/
.search {
    margin-top: 10px;
    float: right;
}
.search img{
    margin-left: 7px;
    margin-top: 17px;
    
    position: absolute;
    z-index: 2;
}
.search input {
    padding-left: 40px;
    width: 322px;
    height: 50px;
    border: 1px solid #d1d1d1;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: Regular(400);
    line-height: 20px;
    color: #8a8a8a;
}
.search button {
    background: #6255a5;
    width: 117px;
    height: 50px;
    border-radius: 3px;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 22px;
    font-style: Bold(700);
}
.dashboard-heading {
    margin-top: 60px;
}

/*pagination*/
.pagination {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);transform: translateX(-50%);
}
.pagination li a{
    width: 34px;
    height: 34px;
    color: #333333;
    font-family: Open Sans;
    font-style: 400;
    font-size: 16px;
    line-height: 20px;
    border-radius: 50%;
    border: none;
    margin-right: 20px;
}
.pagination .page-item .active {
    width: 34px;
    height: 34px;
    background: #6255a5;
    color: #fff;
    font-family: Open Sans;
    font-style: 400;
    font-size: 16px;
    line-height: 20px;
    border-radius: 50%;
    border: none;
    margin-right: 20px;
}
/*Table*/
.table-containt {
    
    margin-top: 10px;
    border-style:inset;
    border-color: #d1d1d1;
    border-radius: 5px;
    padding: -20px;
}
.table-containt thead {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight:600;
    line-height: 20px;
    color: #333333;
    text-transform: uppercase;
}
.table tbody td {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}
.table-containt thead tr {
    height: 60px;
    border-color: #d1d1d1;
    vertical-align: middle;
}
.table-containt thead tr th{
    text-align: center;
}
.table-containt tbody tr {
    height: 60px;
    text-align: center;
}
.table-containt tbody tr th {
    text-align: center;
    vertical-align:middle;
}
.table-containt tbody tr:hover {
    background: none;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.table-containt tbody tr td {
    text-align: center;
    vertical-align:middle;
}
.col-color{
    color: #6255a5 !important;
}
.icon {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
    color: #aaaaaa;
}
.downloads-heading {
    margin-top: 80px;
    margin-bottom: 20px;
}
.downloads-heading h2 {
    font-family: 'Open Snas';
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}
/*.table .dropdown-menu .dropdown-menu-right{
        display: block;
}

.table .dropdown-menu{
        margin:0px !important;
        position:relative !important;
        top:30px !important;
        left:120px !important
}*/
/*-----------------
    Pagination bottom navigation
-------------*/
.pagination {
    border-style:hidden;
}
.page-link {
    color: #fff;
    font-family: 'Open Sans';
    font-style:400;
    font-size: 16px;
    line-height: 20px;
    width: 34px;
    height: 34px;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 50%;
}
.page-link-arrow {
   font-size: 15px;
    margin-right: 35px;
    margin-left: 35px;
    border: none;
    width: 8px;
    height: 15px;
    color: #333333; 
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

/*Review popup*/
.modal-header{
    padding: 0px 50px;
}
.modal-header h3{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: Semibold(600);
    line-height: 28px;
    color: #6255a5;
    margin-top: 30px;
    margin-bottom: 20px;
}
.modal-header img{
    margin-right: 30px;
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
}
.modal-header h4 {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: Regular(400);
    line-height: 20px;
    color: #333333;
}
.modal-header input{
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: Regular(400);
    line-height: 20px;
    color: #8a8a8a;
    height: 100px;
    width: 500px;
}

/*header(manu)*/
.menu-navigation .header-tab {
    padding-top: 20px;
    color:white;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.menu-navigation .header-tab:hover {
   color: #6255a5;
    -webkit-transition: all .3s;
    transition: all .3s; 
}
/*-------------------------------------
            header dropdown
---------------------------------------*/
.header-item .dropdown-menu {
    margin-right: 0px;
}

.header-item .dropdown-menu .dropdown-item {
    padding-top: 10px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #333333;
    text-decoration: none;
}

.header-item .dropdown-menu .dropdown-item:hover {
    background: #6255a5;
    color: #ffffff;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #6255a5;
    color: whitesmoke !important;
}
.header-item .dropdown-menu .dropdown-item span {
    color: #6255a5;
    font-weight: 600;
    text-transform: uppercase;
}

.header-item .dropdown-menu .dropdown-item:hover span {
    background: #6255a5;
    color: #fff;
}

.header-item .dropdown-menu .active {
    background: #6255a5;
    color: #fff;
}
.dropdown-menu-right{
    margin-left:100px; !important;
}
.dropdown-menu-right a{
    text-align: center;
    display:block  !important;

}
.dropdown-menu a{
    text-align: center;
    display:block  !important;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #6255a5;
    color: #ffffff;
}
.more-dropdown-menu {
    position: absolute;
    left: 10%;
    width: 180px;
    border: none;
    z-index: 9999;
}


.more-dropdown-menu .dropdown-item {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    color: #333333;
    margin: 0;
    padding: 5px 5px;
}

.more-dropdown-menu a:first-child {
    margin-top: 3px;
}

.more-dropdown-menu a:last-child {
    margin-bottom: 3px;
}

.more-dropdown-menu .dropdown-item:hover,
.more-dropdown-menu .dropdown-item:focus {
    background-color: #6255a5;
    color: #fff;
    text-decoration: none;
}

/* =========================================
                All over drop-down
============================================ */
.dropdown-menu .dropdown-item {
    padding-top: 10px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    background: #ffffff;
}
.dropdown-menu .dropdown-item:hover {
    background: #6255a5;
    color: #fff;
}
/*-------------------------------------
            Admin Dashboard
---------------------------------------*/
.dashboard_top .new_downloaded_box-admin{
    text-align: center;
    height: 120px;
    padding: 0;
    padding-top: 25px;
    border: 1px solid #d1d1d1;
}
.dashboard_top .for_publish_box{
    text-align: center;
    height: 120px;
    padding: 0;
    padding-top: 25px;
    border: 1px solid #d1d1d1;
}
.dashboard_top .new_registration_box {
    text-align: center;
    height: 120px;
    padding: 0;
    padding-top: 25px;
    border: 1px solid #d1d1d1;
}
.dashboard_top .boxes .heading {
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    color: #6255a5;
}
.dashboard_top .boxes .sub_heading {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}

.add-admin-btn{
     background: #6255a5;
    width: 250px;
    height: 50px;
    border-radius: 3px;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 22px;
    font-style: Bold(700);
    margin-top: 10px;
}

/*--    button     --*/
.green_btn{
    width: 110px;
    background: #28a745;
    border: 1px solid #28a745;
    border-radius: 3px;
    color: #fff;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}
.green_btn:hover{
    color: #28a745;
    background: #fff;
}
.red_btn{
    width: 110px;
    background: #ff3636;
    border: 1px solid #ff3636;
    border-radius: 3px;
    color: #fff;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}
.red_btn:hover{
    color: #ff3636;
    background: #fff;
}
.gray_btn{
    width: 110px;
    background: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 3px;
    color: #fff;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}
 .gray_btn:hover{
    color: #cccccc;
    background: #fff;
}
/*--  reject modal  --*/
.reject_modal .modal_head .modal_heading {
    padding-top: 25px;
    float: left;
    font-size: 24px;
    font-weight: 600;
    color: #6255a5;

}

.reject_modal .modal_head .modal-close {
    float: right;
}

.reject_modal .modal-body {
    padding-left: 0;
}

.reject_modal .modal-body .comment-box {
    margin-top: 30px;
}
.reject_modal .modal-body .modal_button{
    margin-top: 30px;
    margin-bottom: 10px;
}
.reject_modal .modal-body .red_btn{
    width: 110px;
    background: #ff3636;
    border: 1px solid #ff3636;
    border-radius: 3px;
    color: #fff;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}
.reject_modal .modal-body .red_btn:hover{
    color: #ff3636;
    background: #fff;
}
.reject_modal .modal-body .gray_btn{
    width: 110px;
    background: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 3px;
    color: #fff;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}
.reject_modal .modal-body .gray_btn:hover{
    color: #cccccc;
    background: #fff;
}
/*--  review modal  --*/
.review_modal .modal_head .modal_heading {
    padding-top: 25px;
    float: left;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    padding-bottom: 25px;

}

.review_modal .modal_head .modal-close {
    float: right;
}

.review_modal .modal-body {
    padding-left: 0;
}

.review_modal .modal-body .comment-box {
    margin-top: 50px;
}

.review_modal .modal-body .submit_button button {
    margin-top: 25px;
    margin-bottom: 10px;
    background: #6255a5;
    width: 150px;
    height: 50px;
    border: 1px solid #6255a5;
    border-radius: 3px;
    color: #fff;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

.review_modal .modal-body .submit_button button:hover {
    background: #fff;
    color: #6255a5;
}
.reject_modal .modal-body .comment-box {
    margin-top: 30px;
}
.small_text{
    margin-top: 15px;
    margin-bottom: -20px;
    padding-left: 0;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}
