
<!DOCTYPE html>
<html lang="en">

<head>
    <!--Important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--Title for url-->
    <title>Home</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../images/Search/favicon.ico">
    <!-- open sans font-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <!--Bootstrap css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/CSS/bootstrap/bootstrap.min.css">
    <!-- style css-->
    <link rel="stylesheet" href="~/Content/CSS/style.css">

</head>

<body>
    <!--Header-->
    <div class="wrapper">
        <header class="site-header home_navbar">
            <div class="header-wrapper Container">
                <div class="logo-wrapper">
                    <a href="#" title="Site Logo">
                        <img src="~/Content/Images/home/top-logo.png" alt="logo" class="responsive img">
                    </a>
                </div>
                <div class="navigation-wrapper">
                    <nav class="main-nav">
                        <ul class="menu-navigation">
                            <li class="header-item">
                                <a class="header-tab" href="search-note.html">Search Notes</a>
                            </li>
                            <li class="header-item">
                                <a class="header-tab" href="add-notes.html">Sell Your Notes</a>
                            </li>
                            <li class="header-item">
                                <a class="header-tab" href="faq.html">FAQ</a>
                            </li>

                            <li class="header-item">
                                <a class="header-tab" href="contact-us.html">Contact Us</a>
                            </li>
                            <li>
                                <button class="btn-logout">Login</button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>

    <div>@RenderBody()</div>

    <!--footer area-->
    <hr>
    <footer>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 footer-content">
                        <p>
                            Copyright &copy;TatvaSoft All Rights Reserved.
                        </p>
                    </div>

                    <div class="col-md-6">
                        <ul class="social-list">
                            <li>
                                <a href="#">
                                    <img src="~/Content/Images/home/facebook.png" style="margin-right:12px">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Content/Images/home/twitter.png" style="margin-right:6px">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Content/Images/home/linkedin.png" style="margin-right:8px; margin-bottom:4px">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--bootstrap-->
    <script src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>
    <!--script js-->
    <script src="~/Scripts/js/script.js"></script>
</body>

</html>