
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div>
    <div class="user-profile-img">
        <div><img src="~/Content/Images/User-Profile/banner-with-overlay.jpg"></div>
        <div id="user-profile-heading">
            <h1>Frequently Asked Questions</h1>
        </div>
    </div>
</div>

<div class="container">
    <div id="search-heading">
        <h2>General Questions </h2>
    </div>
    <div class="q">
        <div class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#q1">
            <h5 class="accordion-toggle faq-qstn">What is Marketplace-Notes?</h5>
        </div>
        <div id="q1" class="collapse">
            <div class="faq-ans">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomisedThere are many variations of passages of Lorem Ipsum available</div>
        </div>
    </div>

    <div class="q">
        <div class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#q2">
            <h5 class="accordion-toggle faq-qstn">What do the Unvidersity say?</h5>
        </div>
        <div id="q2" class="collapse">
            <div class="faq-ans">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomisedThere</div>
        </div>
    </div>

    <div class="q">
        <div class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#q3">
            <h5 class="accordion-toggle faq-qstn">Is this legal?</h5>
        </div>
        <div id="q3" class="collapse">
            <div class="faq-ans">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomisedThere</div>
        </div>
    </div>




    <div id="search-heading"><h2>Uploaders</h2></div>

    <div class="q">
        <div class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#q4">
            <h5 class="accordion-toggle faq-qstn">What can't I sell?</h5>
        </div>
        <div id="q4" class="collapse">
            <div class="faq-ans">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomisedThere
            </div>
        </div>
    </div>

    <div class="q">
        <div class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#q5">
            <h5 class="accordion-toggle faq-qstn">What notes can I sell?</h5>
        </div>
        <div id="q5" class="collapse">
            <div class="faq-ans">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomisedThere</div>
        </div>
    </div>


    <div id="search-heading"><h2>Downloaders</h2></div>

    <div class="q">
        <div class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#q6">
            <h5 class="accordion-toggle faq-qstn">How do I buy notes?</h5>
        </div>
        <div id="q6" class="collapse">
            <div class="faq-ans">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomisedThere</div>
        </div>
    </div>

    <div class="q">
        <div class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#q7">
            <h5 class="accordion-toggle faq-qstn">Can I edit the notes I purchased?</h5>
        </div>
        <div id="q7" class="collapse">
            <div class="faq-ans">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomisedThere</div>
        </div>
    </div>
</div>

