
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


    <section class="home">
        <div class="home_img">
            <div class="container">
                <div class="home-text">
                    <div class="vertical-center">
                        <h1>Download Free/Paid Notes <br>or Sale your Books</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipi corporis placeat ratione <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Und
                        </p>
                        <div class="overlay_btn">
                            <button type="button" class="btn btn-outline-light">LEARN MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--About notesmarketplace -->
    <div id="home-page">
        <div class="container">
            <div class="row">
                <div class="col-md-4" id="about-marketplace-heading">
                    <h3>About<br>NotesMarketPlace</h3>
                </div>
                <div class="col-md-8" id="about-details">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam facere ipsum labore nemo amet, cupiditate autem ex repellat quam vitae sapiente, culpa impedit libero porro perspiciatis molestiae, sint! Aperiam, architecto!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quas fuga beatae rem quos molestias autem minima doloremque vitae quo, at, accusantium nesciunt optio illo voluptatibus maxime labore molestiae nulla.
                    </p>
                </div>
                <div class="work">
                    <div class="text-center" id="about-marketplace-heading">
                        <h1>How it Works</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6 work_content">
                            <div class="logo"> <img src="~/Content/Images/home/download.png"></div>
                            <div class="sub_heading">
                                <span>Download Free/Paid Notes</span>
                            </div>
                            <div class="work_text">
                                <span>Get Material For your <br>Cource etc.</span>
                            </div>
                            <div class="work_btn">
                                <a href="#"><button type="button" class="btn btn-primary work_btn" id="btn1"><span>Download</span></button></a>
                            </div>
                        </div>
                        <div class="col-md-6 work_content">
                            <div class="logo"> <img src="~/Content/Images/home/download.png"></div>
                            <div class="sub_heading">
                                <span>Download Free/Paid Notes</span>
                            </div>
                            <div class="work_text">
                                <span>Get Material For your <br>Cource etc.</span>
                            </div>
                            <div class="work_btn">
                                <button type="button" class="btn btn-primary work_btn" id="btn1"><span>Download</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Customer review-->
                <div>
                    <div class="text-center" id="about-marketplace-heading">
                        <h3>What Our Customers are Saying</h3>
                    </div>
                    <div class="col-md-6 customer-review">

                        <img src="~/Content/Images/home/customer-1.png" class="responsive img customer-detail">
                        <div class="customer-name">
                            <h4>Walter Meller</h4>
                            <h5>Founder &amp; CEO,Matrix Group</h5>
                        </div>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eius deserunt deleniti, magnam enim doloribus molestias at minus! Ex libero, dignissimos ea."</p>
                    </div>
                    <div class="col-md-6 customer-review">

                        <img src="~/Content/Images/home/customer-2.png" class="responsive img customer-detail">
                        <div class="customer-name">
                            <h4>Jonnie Riley</h4>
                            <h5>Employee, Curious Snakcs</h5>
                        </div>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eius deserunt deleniti, magnam enim doloribus molestias at minus! Ex libero, dignissimos ea."</p>
                    </div>
                    <div class="col-md-6 customer-review">

                        <img src="~/Content/Images/home/customer-3.png" class="responsive img customer-detail">
                        <div class="customer-name">
                            <h4>Amilia Luna</h4>
                            <h5>Teacher,Saint joseph High School</h5>
                        </div>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eius deserunt deleniti, magnam enim doloribus molestias at minus! Ex libero, dignissimos ea."</p>
                    </div>
                    <div class="col-md-6 customer-review">

                        <img src="~/Content/Images/home/customer-4.png" class="responsive img customer-detail">
                        <div class="customer-name">
                            <h4>Daniel Cardos</h4>
                            <h5>Software Engineer, Inflinitun Company</h5>
                        </div>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eius deserunt deleniti, magnam enim doloribus molestias at minus! Ex libero, dignissimos ea."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


