<!DOCTYPE html>
<html lang="en">

<head>
    <!--Important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--Title for url-->
    <title>Notes Marketplace</title>
    <!-- open sans font-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!--Bootstrap css-->
    <link rel="stylesheet" href="~/Content/CSS/bootstrap/bootstrap.min.css">
    <!-- style css-->
    <link rel="stylesheet" href="~/Content/CSS/style.css">
</head>

<body style="background-color: #000;">
    <!--Email Verification-->
    <div class="container">
    <div id="email-verification">
    <img src="~/Content/Images/User-Profile/logo.png" alt="logo" class="responsive img">
    <div>
        <h3>Email Verification</h3>
    </div>
    <h5>Dear Smith,</h5>
    <p>Thanks for Signing up!</p>
    <p>Simply click below for email verification.</p>
    <button class="login-btn">VERIFY EMAIL ADDRESS</button>
    </div>
    </div>
    


    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--bootstrap-->
    <script src="../js/bootstrap/bootstrap.min.js"></script>
    <!--script js-->
    <script src="../js/script.js"></script>
</body>

</html>