<!DOCTYPE html>
<html lang="en">

<head>
    <!--Important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--Title for url-->
    <title>Forgot Password</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../Images/Search/favicon.ico">x
    <!-- open sans font-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!--Bootstrap css-->
    <link rel="stylesheet" href="../CSS/bootstrap/bootstrap.min.css">
    <!-- style css-->
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
<!-- forgot-password section-->
    <section id="login">
        <!--backgroud image-->
        <div>
            <img id="login-bg-img" src="../Images/pre-login/banner-with-overlay.jpg" alt="background img" class="img-responsive">
            <!--top-logo-->
            <div id="login-container">
                <div id="top-logo"><img  src="../Images/pre-login/top-logo.png" alt="top-logo" class="img-responsive,center">
                </div>
                <div id="login-form">
                    <form>
                        <h3>Forgot Password?</h3>
                        <p>Enter your email to reset your Password</p>
                        <div class="form-group">
                                    <label class="heading" for="email">Email:</label><br>
                                    <input type="email" class="form-control" id="email" placeholder="Email Address">
                                </div>
                                <button class="login-btn">SUBMIT</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
 <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--bootstrap-->
    <script src="../js/bootstrap/bootstrap.min.js"></script>
</body>
</html>